

p{
	color: #fcfcfc;
	font-size: 50px;
	text-align: center;
}

table, td{
	border-style: solid;
}

td{
	border-width: 3px;
	border-color: #fcba03;
}
table{
	border-width: 4px;
	border-color: #0e16ad;
	margin-left: auto;
	margin-right: auto;
}

body{
	background-image: url(hotel personas.jpg);
	background-size: 600px;
	background-repeat: repeat-y;
	background-position: right top
}
	

.container{
	width: 400px;
	text-align: center;
	overflow: hidden;
}

.slides{
display: flex;
overflow: auto;
scroll-snap-type: mandatory;
scroll-behavior: smooth;
}

img:hover{
	opacity: 0.60;
}

ul{
	list-style-type: none;
	background-color: #0e16ad;
	overflow: hidden;
}
li a{
	float: left;
	display: block;
	width: 50px;
	background-color: #e4e7ed;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	color: #fcba03;

}
li a:hover{
	background-color: #fcba03;
}
.active{
	border-bottom: 2px solid; #c2a1fc;
}

h2{
	color: #1d60de;
}

h1{
	color: #1d60de;
}

h3{
	color: #000;
	font-size: 30px;

}

h4{
	color: #000;
	text-align: center;
}

a{
	color:#0e16ad;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 400px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.2s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slides img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

