

p{
	color: #1d60de;
	font-size: 35px;
	text-align: center;
}

table, td{
	border-style: solid;
}

td{
	border-width: 3px;
	border-color: #fcba03;
}
table{
	border-width: 4px;
	border-color: #0e16ad;
	margin-left: auto;
	margin-right: auto;
}
body{

	background-size: 1000px;
	background-repeat: repeat-y;
	background-position: right top;

img:hover{
	opacity: 0.60;
}

ul{
	list-style-type: none;
	background-color: #0e16ad;
	overflow: hidden;
}
li a{
	float: left;
	display: block;
	width: 50px;
	background-color: #e4e7ed;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	color: #fcba03;

}
li a:hover{
	background-color: #fcba03;
}
.active{
	border-bottom: 2px solid; #c2a1fc;
}

h2{
	color: #1d60de;
}

h1{
	color: #1d60de;
}

h3{
	color: #000;
	font-size: 30px;

}

h4{
	color: #000;
	text-align: center;
}

a{
	color: #0e16ad;
}